.root {
    display: flex;
    flex-direction: column;
    height: 180vh;
}

/* topbar css */
.topBar {
    width: 100%;
    height: 5%;
    background-color: rgba(75, 192, 192, 0.6); 
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    color: white;
}

.topBarContent {
    display: flex;
    align-items: center;
    width: 100%; 
    justify-content: center; 
}

.topBarText {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-align: center;
    flex-grow: 1; 
}

.content {
    display: flex;
    flex: 1;
    height: 90%; 
}

/* sidebar css */
.sideBar {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    background-color: rgba(75, 192, 192, 0.6);
    padding: 1%;
}

.sideBar .sidebarButton {
    font-size: 1.2rem;
    color: black;
    padding: 15px;
}

/* main layout css for dashboard and users */
.dashboard,
.users {
    flex: 1; 
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 1%;
}
